// Charsets must be double quoted according to the CSS spec: https://www.w3.org/TR/CSS2/syndata.html#x57
@charset "utf-8";

$custom-font-family: 'Lora', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$family-primary: $custom-font-family;
$family-secondary: $custom-font-family;
$body-font-size: 1.1em;

@import 'bulma';
@import '~bulma-slider';

.drum-pad {
  border: 2px solid black;
  border-radius: 10px;
  margin: 3rem;
  padding: 1rem;
}

.level-align-start {
  align-items: start;
}
