// Charsets must be double quoted according to the CSS spec: https://www.w3.org/TR/CSS2/syndata.html#x57
@charset "utf-8";

// COLORS
$personal-turquoise: #00cfc1;
$personal-orange: #fe621d;

$primary: $personal-turquoise;
// Setup your Custom Colors
$secondary-color: $personal-orange;

@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/functions.sass';
@import '~bulma/sass/utilities/derived-variables.sass';

$secondary-color-invert: findColorInvert($secondary-color);

// Add new color variables to the color map.
$add-colors: (
  'secondary': (
    $secondary-color,
    $secondary-color-invert,
  ),
);
$colors: map-merge($colors, $add-colors);

// TYPOGRAPHY
$default-font-family: $family-primary;
$family-primary: 'Lora', $family-primary;
$body-font-size: 1.1em;

@import 'bulma';
@import '~bulma-slider';

.drum-pad {
  border: 2px solid black;
  border-radius: 10px;
  margin: 3rem;
  padding: 1rem;
}

.level-align-start {
  align-items: start;
}

.bulma-fonts * {
  font-family: $default-font-family;
}

.icon-with-text {
  vertical-align: middle;
}
